mysql
nginx
config/nginx/certs/*.pem

# wp-content
www/*.*/*
!www/*.*/wp-content
www/wp-content/uploads
www/*.*.*/*
!www/*.*.*/wp-content
www/wp-content/uploads

# Environment files
env/*.env
!env/default.env
